.price-product {
    padding: 1vw;
    font-size: calc(10px + .4vw);

}
.main-container-products {
    /* border: 1px solid red; */
    margin-top: 2vh;
}
.container-fluid {
    font-size: x-large;
    padding: 10px;
    position: fixed;
    top: 7vh;
    /* border: 1px solid rgb(50, 110, 30); */
    background-color: rgb(237, 237, 237);
    z-index: 100;
}
.main-container-product-sidebar{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border: 1px solid rgb(86, 125, 73);
  margin-top: 5vh;
  width: 100%;
}
.side-bar{
  width: 20%;
  height: 100vh;
  padding: 2%;

}
.side-bar>ul{
  list-style: none;
}
.product-frame{
  width: 80%;
  overflow: auto;
  border: 1px solid rgb(164, 38, 137);
  height: 83vh;
}